<div class="jumbotron text-center">
  <h1>Welcome to TMoney Blogith!</h1>

  <%= link_to 'Sign-Up!', signup_path, class:"btn btn-lg btn-primary" %>
  <p class="photo-cred">Photo by Andrew Neel on Unsplash</p>
</div>
